<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 定义日志文件的存储地址 -->
    <property name="LOG_HOME" value="./logs" />
    
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app_name":"structured-log-demo"}</customFields>
            <includeMdc>true</includeMdc>
            <includeContext>true</includeContext>

            <includeMdcKeyName>timestamp</includeMdcKeyName>
            <includeMdcKeyName>thread</includeMdcKeyName>
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>spanId</includeMdcKeyName>
<!--            level不需要通过mdc，但是倒是想去掉level_value-->
<!--            <includeMdcKeyName>level</includeMdcKeyName>-->
            <includeMdcKeyName>message</includeMdcKeyName>

            <includeMdcKeyName>exception</includeMdcKeyName>

<!--            <includeMdcKeyName>parentId</includeMdcKeyName>-->
<!--            <includeMdcKeyName>sampled</includeMdcKeyName>-->
<!--            <includeMdcKeyName>flags</includeMdcKeyName>-->
<!--            <includeMdcKeyName>priority</includeMdcKeyName>-->
<!--            <includeMdcKeyName>category</includeMdcKeyName>-->
<!--            <includeMdcKeyName>logger</includeMdcKeyName>-->
        </encoder>
    </appender>

    <!-- 文件输出 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app_name":"structured-log-demo"}</customFields>
            <includeMdc>true</includeMdc>
            <includeContext>true</includeContext>
            <includeMdcKeyName>timestamp</includeMdcKeyName>
            <includeMdcKeyName>thread</includeMdcKeyName>
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>spanId</includeMdcKeyName>
            <includeMdcKeyName>message</includeMdcKeyName>

            <includeMdcKeyName>exception</includeMdcKeyName>

<!--            <includeMdcKeyName>parentId</includeMdcKeyName>-->
<!--            <includeMdcKeyName>sampled</includeMdcKeyName>-->
<!--            <includeMdcKeyName>flags</includeMdcKeyName>-->
<!--            <includeMdcKeyName>priority</includeMdcKeyName>-->
<!--            <includeMdcKeyName>category</includeMdcKeyName>-->
<!--            <includeMdcKeyName>logger</includeMdcKeyName>-->
        </encoder>
    </appender>

    <!-- 设置日志级别 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <!-- 应用日志级别 -->
    <logger name="com.example" level="DEBUG" />
</configuration> 